.container {
    height: 100vh;
    display: flex;
    width: 100vw;
    justify-content: center;
    flex-direction: column;
}
.centralizer {
    width: 90%;
    height: 100%;
}
ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}
